name: CI-CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Build da imagem Docker
        run: docker build -t minha-api-flask .

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar testes
        run: python teste.py

  deploy:
    name: Deploy para Render
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Aviso
        run: echo "Deploy será feito automaticamente pelo Render conectado ao GitHub!"
